body{
  background-image: url("fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 60px;
}

.marcado{
  background-color: #DFF5FF;
}

.title{
  background-color: #265073;
}

.titulo{
  background-color: #2D9596;
  color: #F2F2F2;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav{
  display: inline-block;
  background-color: #9AD0C2;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Anton", sans-serif;
}

.nav:hover{
  background-color: #c9b0b0;
  color: #8C6A5D;
}

.menu{
background-color: #F1FADA;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

p{
  color: #201818;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

h2{
  background-color: #DFF5FF;
  padding: 10px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.h2_reflexion{
  font-family: "Pacifico", cursive;
}

h3{
  font-family: "Pacifico", cursive;
}

li{
  color: #201818;
  font-family: "Indie Flower", cursive;
}

lu{
  padding: 20px 20px;
  text-align: center; 
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image{
  margin: 10px;
  width: 400px;
}

.image img{
  width: 100%;
  height: auto;
  border: 3px solid #F2F2F2;
}

.text_box{
  margin: auto;
}
.wrapper{
  margin: 150px auto;
  width: 70%;
}

.img_table{
  max-width: 320px ;
  float: left;
}

html{
  scroll-behavior: smooth;
}