@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primero-color: #73B1B6;
    --segundo-color: #5D7DA7;
    --tercero-color: #74818B;
    --cuarto-color: #282430;
    --quinto-color: #F7F7F7;
    --primer-borde: 30px 50px;
    --type-cursiva: 'Great Vibes', cursive;
    --type-marcador: 'Permanent Marker', normal;
    --type-cursiva_2: 'Sevillana', cursive;
    --type-sans: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

.navb-logo {
    display: flex;
    justify-content: center;
}

.navb-logo img {
    width: 100px;
    margin-left: 50px;
}

.navb-logo h1 {
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-size: 30px;
}

.navb-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
    width: auto;
    margin-right: 50px;
}

.navb-items .item {
    text-align: center;
    margin-inline: 9%;
    font-size: 15px;
    transition: 0.1s ease all;
    padding: 5px 0;
    border-bottom: 0px solid var(--primero-color);
    border-top: 0px solid var(--primero-color);
    cursor: pointer;
}

.navb-items .item:hover {
    border-bottom: 3px solid var(--primero-color);
    border-top: 3px solid var(--primero-color);
}

.navb-items .item a {
    text-decoration: none;
    color: var(--cuarto-color);
    font-weight: 700;
    transition: 0.1s ease all;
}

.navb-items .item a:hover {
    color: var(--tercero-color);
}

.navb-items .item-button {
    text-align: center;
    margin-inline: 1%;
    font-size: 15px;
}

.navb-items .item-button a {
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--segundo-color);
    color: var(--quinto-color);
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s ease all;
    border-radius: 10px;
}

.navb-items .item-button a:hover {
    background-color: var(--primero-color);
    color: var(--cuarto-color);
}

.mobile-toggler a {
    text-decoration: none;
}

.mobile-toggler i {
    font-size: 30px;
    margin-right: 20px;
    color: var(--cuarto-color);
    text-decoration: none;
    display: none;
}


/* menu*/

.modal-dialog {
    margin: 0;
    width: 430px;
}

.modal-content {
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--quinto-color);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: auto;
    padding-bottom: 2px solid var(--cuarto-color);
}

.modal-header img {
    width: 80px;
    border: 0;
    margin: 0;
}

.modal-header .btn-close {
    background: transparent;
    opacity: 1;
}

.modal-header i {
    color: var(--cuarto-color);
    font-size: 30px;
}

.modal-body {
    width: 88%;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.modal-body .modal-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all 0.5 ease;
    color: var(--cuarto-color);
    border-bottom: 1px solid var(--cuarto-color);
}

.modal-body .modal-line:hover {
    color: var(--primero-color);
    border-radius: 1px solid var(--primero-color);
}

.modal-body .modal-line a {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: var(--cuarto-color);
    text-decoration: none;
}

.modal-body .modal-line i {
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-btns {
    display: flex;
    justify-content: space-around;
}

.navb-button {
    width: 40%;
    height: 35px;
    background-color: var(--segundo-color);
    text-align: center;
    margin: auto 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--quinto-color);
    letter-spacing: 2px;
    transition: 0.5 ease all;
    text-decoration: none;
    border-radius: 2px;
}

.navb-button:hover {
    background-color: var(--primero-color);
    color: var(--cuarto-color);
}

.modal-footer {
    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    font-size: 25px;
}

.modal-footer a {
    color: var(--cuarto-color);
}

.modal-footer a:hover {
    color: var(--primero-color);
}


/*CONTENIDO*/

main {
    padding: 20px 50px;
}

main h1 {
    font-family: var(--type-marcador);

}

main .conter {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 350px;
    grid-template-rows: 350px 1fr;
}

main .conter .foto {
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .conter .foto img {
    width: 450px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
}

main .conter .video {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .conter .video iframe {
    width: 450px;
    height: 300px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
}

main .conter .ingredientes {
    background-color: var(--quinto-color);
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 3px 15px;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);

}

main .conter .ingredientes h5 {
    font-family: var(--type-sans);
}

main .conter .ingredientes ul {
    font-family: var(--type-sans);
}


main .conter .ingredientes h3 {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 2px;
}


main .conter .preparacion {
    background-color: var(--quinto-color);
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 3px 15px;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
}

main .conter .preparacion h3 {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 2px;
}

main .conter .preparacion h5 {
    font-family: var(--type-sans)
}

main .conter .preparacion ul {
    font-family: var(--type-sans)
}



/* busqueda*/

.ingredientes .busqueda {
    h3 {
        font-family: var(--type-marcador);
        letter-spacing: 1px;
        margin-left: 10px;
    }

    input {
        width: 90%;
        height: 35px;
        margin: 5px 10px;
        border: 0;
        background-color: var(--tercero-color);
        color: var(--quinto-color);
        font-family: var(--type-sans);
        padding: 0 10px;
        border-radius: 5px;
        background-color: var(--cuarto-color);
    }

    button {
        width: 100px;
        height: 35px;
        border: 0;
        background-color: var(--segundo-color);
        color: var(--quinto-color);
        font-weight: 700;
        margin-top: 10px;
        margin-left: 10px;
        transition: 0.3s ease all;
        border-radius: 5px;
    }

    button:hover {
        background-color: var(--primero-color);
        color: var(--cuarto-color);
    }
}

.ingredientes .busqueda h3 {
    font-family: var(--type-marcador);
    letter-spacing: 1px;
    margin-left: 10px;
}

.ingredientes .busqueda input {
    width: 90%;
    height: 35px;
    margin: 5px 10px;
    border: 0;
    background-color: var(--tercero-color);
    color: var(--quinto-color);
    font-family: var(--type-sans);
    padding: 0 10px;
    border-radius: 5px;
    background-color: var(--cuarto-color);
}


.ingredientes .busqueda button {
    width: 100px;
    height: 35px;
    border: 0;
    background-color: var(--segundo-color);
    color: var(--quinto-color);
    font-weight: 700;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.3s ease all;
    border-radius: 5px;
}

.ingredientes .busqueda button:hover {
    background-color: var(--primero-color);
    color: var(--cuarto-color);
}

/* FOOOTERSADSADSADA*/

footer {
    width: 100%;
    height: 100px;
    background-color: var(--tercero-color);
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

.caja-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.caja-1 a {
    text-decoration: none;
    color: var(--cuarto-color);
    font-size: 20px;
    font-family: "Sevillana", cursive;
    margin-left: 50%;
    transition: 0.1s ease all;
    border-bottom: 0px solid var(--quinto-color);
}

.caja-1 a:hover {
    color: var(--quinto-color);
    border-bottom: 1px solid var(--quinto-color);
}

.caja-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-2 h3 {
    font-family: "Great Vibes", cursive;
    margin-top: 10px;
}

.caja-2 .circles a {
    text-decoration: none;
    color: var(--cuarto-color);
    margin: 0 10px;
    font-size: 20px;
    transition: 0.1s ease all;
}

.caja-2 .circles a:hover {
    color: #F7F7F7;
}

.caja-2 .circles {
    display: flex;
}

.caja-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.caja-3 a {
    text-decoration: none;
    color: var(--cuarto-color);
    font-size: 20px;
    font-family: "Sevillana", cursive;
    margin-right: 50%;
    transition: 0.1s ease all;
    border-bottom: 0px solid var(--quinto-color);
}

.caja-3 a:hover {
    color: var(--quinto-color);
    border-bottom: 1px solid var(--quinto-color);
}


/*RESPONSIVE*/

@media(max-width: 1400px) {
    .navb-items .item-button {
        display: none;
    }

    main .conter {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 1fr;
    }

    main .conter .foto {
        grid-column: 1/2;
        grid-row: 1/2;

    }

    main .conter .video {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    main .conter .ingredientes {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    main .conter .preparacion {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

@media(max-width: 1270px) {
    .navb-items {
        margin-right: 50px;
    }

    .navb-items .item {
        display: none;
        width: 0;
    }

    .navb-logo {
        width: 700px;
        justify-content: flex-start;
    }

    .navb-logo h1 {
        margin-left: 0;
    }

    .navb-logo img {
        width: 120px;
        margin-left: 50px;
        margin-left: 0;
    }

    .mobile-toggler i {
        display: block;
        text-decoration: none;
        position: relative;
        margin-left: 30px;
        color: var(--cuarto-color);
    }
}


@media(max-width: 1040px) {

    main .conter {
        width: 100%;
        height: auto;
        align-items: center;
        display: flex;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 1fr;
    }

    main .conter .foto {
        display: none;

    }

    main .conter .video {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    main .conter .ingredientes {
        margin: 0 auto;
        width: 450px;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    main .conter .preparacion {
        margin: 0 auto;
        width: 450px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

@media(max-width: 768px) {
    footer {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .caja-2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    footer .caja-1 a {
        margin: 0 auto;
    }

    footer .caja-3 a {
        margin: 0 auto;
    }
}

@media(max-width: 550px) {
    .modal-dialog {
        width: 400px;
    }

    main {
        padding: 20px 20px;
    }

    main h1 {
        font-family: var(--type-marcador);
        font-size: 20px;

    }

    main .conter {
        width: 100%;
        height: auto;
        align-items: center;
        display: flex;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 1fr;
    }


    main .conter .video iframe {
        width: 400px;
        height: 250px;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    }

    main .conter .ingredientes {
        margin: 0 auto;
        width: 400px;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    main .conter .ingredientes h5 {
        font-family: var(--type-sans);
        font-size: 17px;
        
    }

    main .conter .ingredientes ul {
        font-family: var(--type-sans);
        font-size: 13px;
    }


    main .conter .ingredientes h3 {
        font-family: "Permanent Marker", cursive;
        letter-spacing: 2px;
        font-size: 20px;
    }

    main .conter .preparacion {
        margin: 0 auto;
        width: 400px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    main .conter .preparacion h5 {
        font-size: 17px;
        
    }

    main .conter .preparacion ol {
        font-size: 13px;
    }


    main .conter .preparacion h3 {
        letter-spacing: 2px;
        font-size: 20px;
    }
}

@media(max-width: 450px) {
    .modal-dialog {
        width: 300px;
    }
    main .conter .video iframe {
        width: 350px;
    }
    main .conter .ingredientes {
        width: 350px;
    }

    main .conter .preparacion {
        width: 350px;
    }

}

@media(max-width: 390px){
    main .conter .video iframe {
        width: 300px;
    }
    main .conter .ingredientes {
        width: 300px;
    }

    main .conter .preparacion {
        width: 300px;
    }
}

@media(max-width: 330px) {
    .modal-dialog {
        width: 250px;
    }

    .caja-1 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .caja-3 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .navb-logo img {
        display: none;
    }

    .navb-logo h1 {
        text-align: end;
    }
    main .conter .video iframe {
        width: 250px;
    }
    main .conter .ingredientes {
        width: 250px;
    }

    main .conter .preparacion {
        width: 250px;
    }

    
}